.nav-menu {
  display: flex;
  padding: 0 12px;
  gap: 16px;
  background-color: #2C2C2C;
  border-bottom: #444444;
  align-items: center;
}

.nav-item {
  color: #FFFFFF;
  font-size: 11;
  font-weight: 600;
  padding: 12px 0;
}

:not(:checked) + label {
  opacity: 0.6;
}

.hidden {
  display: none;
}