a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #FFFFFF;
  background-color: #2C2C2C;
}

.nav-menu {
  display: flex;
  padding: 0 12px;
  gap: 16px;
  border-bottom: #444444;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  justify-content: space-between;
}

.formats {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-item {
  color: #FFFFFF;
  font-size: 11;
  font-weight: 600;
  padding: 12px 0;
}

:not(:checked) + label.nav-item {
  opacity: 0.6;
}

.hidden {
  display: none;
}

.main-panel {
  display: flex;
  padding: 12px;
  gap: 12px;
  font-size: 11;
  font-weight: 400;
}

textarea {
  flex: 1;
  padding: 12px;
  background-color: #242424;
  color: #ffffff;
  border-radius: 2px;
  border-color: #444444;
  min-height: 340px;
}

.export-options, .color-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.color-options {
  align-items: center;
}

.color-options > div, .option-checkbox  {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-options > div > input {
  margin: 0;
}

.tokens-title {
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  gap: 12px;
}

.settings-panel {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.setting-field {
  display: flex;
  color: #FFFFFF;
  font-size: 11;
  font-weight: 600;
  align-items: center;
}

.setting-label {
  flex: 1;
}

.settings-input {
  height: 32px;
  min-width: 250px;
  background-color: #242424;
  border-color: #444444;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 6px;
}